body{
    margin: 0;
    padding: 0;
    background-color: #6bbcff;
}

img{
    width: 1350px;
    height: 160px;
    background-size: cover;
    padding: 0;
}

div.img{
    position: sticky;
    top: 0px;
}

ul.ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    background-color: #1395ff;
    overflow: hidden;
    margin: auto;
    font-family: 'Braah One';
    font-size: 20px;
    position: sticky;
    top: 160px;
    margin-top: -5px;
}

li{
    float: left;
    text-align: center;
    margin: 0 90px;
}

li a{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 20px;
}

ul.ul :hover{
    color: #015599;
    background-color: white;
    transform: scale(1.1); 
}


h1{
    font-family: 'Braah One';
    text-align: center;
}

p.deskripsi{
    font-family: 'Braah One';
    text-align: justify;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 35px;
    color: white;
    background-color: #015599;
    font-weight: lighter;
}

ul.kerjasama{
    font-family: 'Braah One';
    background-color: #6bbcff;
    margin: 0;
    padding-right: 600px;
    padding-left: 20px;
    line-height: 35px;
    list-style-type: circle;
}

li{
    text-align: left;
    font-weight: lighter;
}

img.bilateral{
    width: 500px;
    height: 280px;
    margin-left: 750px;
    margin-top: -1000px;
}

img.maldives{
    width: 500px;
    height: 300px;
    margin-left: 750px;
    margin-top: -150px;
}

p{
    font-family: 'Braah One';
}

p.aa{
    font-family: 'Braah One';
    margin-left: 100px;
    margin-right: 800px;
    text-align: center;
    font-size: 20px;
    border: 5px solid #015599;
    border-radius: 800px;
    padding: 10px 0px 10px 0px;
    line-height: 35px;
}

p.ab{
    font-family: 'Braah One';
    margin-left: 100px;
    margin-right: 800px;
    text-align: center;
    font-size: 20px;
    line-height: 35px;   
}

img.arrow{
    width: 300px;
    height: 200px;
    margin-left: 400px;
    margin-top: -500px;
}

p.bilateral{
    font-family: 'Braah One';
    font-size: 130%;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 85px;
    margin-right: 950px;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
}

p.regional{
    font-family: 'Braah One';
    font-size: 130%;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 500px;
    margin-right: 510px;
    margin-top: -74px;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
}

p.multilateral{
    font-family: 'Braah One';
    font-size: 130%;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 945px;
    margin-right: 80px;
    margin-top: -75px;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
}